#social-links a {
  text-decoration: none;
  margin: 3px;
  font-size: 14pt;
}

.posts-preview h1 {
  margin-bottom: 0;
}

.posts-preview .post {
  padding-top: 0;
}

.posts-preview h2 {
  font-size: 15pt;
}

.posts-preview .post {
  margin: 0 auto;
  padding-bottom: 0;
}

.posts-preview .post-meta {
  margin-bottom: 0;
}

.posts-preview .post-tags {
  margin-bottom: 5px;
}

.posts-preview .post-content {
  margin-top: 0;
}

.posts-preview .post-title {
  margin-bottom: 10px;
}

/* commento */
.commento-markdown-help pre {
  display: block!important;
}
/* commento end */
