{{ define "main" }}
  <div class="post">
    <div class="post-content">
    {{ with .Resources.GetMatch .Params.Avatar }}
        <img src="{{ .RelPermalink }}" width="200" height="200" class="post-cover" style="float: right; margin: 0 15px 0 0; width: 200px; height: 200px;"/>
    {{ end }}

      {{ with .Content }}
        {{ if $.Param "stripHighlights" | default false }}
          {{ partial "strip-highlights" . }}
        {{ else }}
          {{ partial "mark-highlights" . }}
        {{ end }}
      {{ end }}
    </div>

    {{ partial "page_metadata.html" . }}
    </div>
{{ end }}
